#Don't track any object files
objects/*.o

#Keep the executable out of the repo
lincellaut

#Don't share my TODO lists with anyone :)
todo.txt
havedone.txt

#Don't show the world how little I know about Git
howtogit.txt

#No need to put scrap thoughts in the repo
scraps/*