#Don't track any object files
objects/*.o
objects/*.so

#Keep the executable out of the repo
lincellaut

#We don't need specific data in the repo, either
*.matrix
*.graph
outputs/*

#Make sure unnecessary LaTeX don't make their way into the repo
documentation/research/*.aux
documentation/research/*.log
documentation/research/*.pdf
documentation/research/*.toc
documentation/research/*.bbl
documentation/research/*.blg