#Don't track any object files
objects/*.o
objects/*.so

#Keep the executable out of the repo
lincellaut

#We don't need specific data in the repo, either
*.matrix
*.orbits
*.orbitsloc
*.iteration
outputs/*

#Don't share my TODO lists with anyone :)
todo.txt
havedone.txt
doing.txt

#I'll share my knowledge eventually, just not now
knowledge.txt

#Don't show the world how little I know about Git
howtogit.txt

#No need to put scrap thoughts in the repo
scraps/*

#Make sure unnecessary LaTeX don't make their way into the repo
documentation/research/*.aux
documentation/research/*.log
documentation/research/*.pdf
documentation/research/*.toc
documentation/research/*.bbl
documentation/research/*.blg