mod          49
vectorType   row
iterations   1
update       data/update.matrix
initial      data/initial.matrix
resumeMat    data/resume.matrix
sentinel     data/sentinel.matrix
polynomial   data/important.polynomial
itername     ../ORBITVIS/iterations/iteration.iteration
quiet        TRUE
outpath      